Repository payrolloneclick/paynica-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-linters-fix, api-linters, app-linters-fix, app-linters

api-linters-fix:
  name: API Linters Fix
  entry: bash -c 'cd api && make fix'
  language: system
  pass_filenames: false

api-linters:
  name: API Linters
  entry: bash -c 'cd api && make lint'
  language: system
  pass_filenames: false

app-linters-fix:
  name: App Linters Fix
  entry: bash -c 'cd app && make fix'
  language: system
  pass_filenames: false

app-linters:
  name: App Linters
  entry: bash -c 'cd app && make lint'
  language: system
  pass_filenames: false

Fixed
  app/package.json
  app/yarn.lock
Due: none

Added types
  app/package.json
  app/yarn.lock
Due: none

Fixed prettier
  app/Makefile
  app/package.json
  app/src/Bootstrap.tsx
  app/src/admin/Admin/index.module.scss
  app/src/admin/Admin/index.tsx
  app/src/admin/Admin/test.tsx
  app/src/app/App/index.module.scss
  app/src/app/App/index.tsx
  app/src/app/App/test.tsx
  app/src/bootstrap.test.tsx
  app/src/containers/App/index.module.scss
  app/src/containers/App/index.test.tsx
  app/src/containers/App/index.tsx
  app/src/i18n.tsx
  app/src/index.tsx
  app/yarn.lock
Due: app-linters-fix, app-linters

Fixed prettier
  app/src/admin/Admin/index.tsx
  app/src/admin/Admin/test.tsx
  app/src/app/App/index.tsx
  app/src/app/App/test.tsx
  app/src/bootstrap.test.tsx
Due: app-linters-fix, app-linters

Added company endpoints for contractor, added company pk to depends, removed admin logic
  api/adapters/repositories/fake/companies.py
  api/adapters/repositories/fake/generic.py
  api/adapters/repositories/fake/invoices.py
  api/adapters/repositories/fake/operations.py
  api/adapters/repositories/fake/users.py
  api/admin/__init.__py
  api/admin/dependencies.py
  api/admin/entrypoints.py
  api/admin/resources/__init.__py
  api/admin/resources/generic.py
  api/admin/resources/resources.py
  api/bootstrap.py
  api/entrypoints/contractor/bank_accounts.py
  api/entrypoints/contractor/invoices.py
  api/entrypoints/contractor/operations.py
  api/entrypoints/dependencies.py
  api/entrypoints/employer/bank_accounts.py
  api/entrypoints/employer/invoices.py
  api/entrypoints/employer/operations.py
  api/entrypoints/exceptions.py
  api/main.py
  api/service_layer/handlers/contractor/companies.py
  api/service_layer/messagebus/generic.py
  api/service_layer/messagebus/messagebus.py
  api/tests/e2e/test_admin.py
  api/tests/unit/test_messagebus.py
Due: api-linters-fix, api-linters

Added invoices and bank accounts for contractor
  api/adapters/repositories/db/invoices.py
  api/adapters/repositories/fake/invoices.py
  api/domain/commands/contractor/bank_accounts.py
  api/domain/commands/contractor/invoices.py
  api/domain/commands/contractor/operations.py
  api/domain/commands/employer/bank_accounts.py
  api/domain/commands/employer/invoices.py
  api/domain/commands/employer/operations.py
  api/domain/models/invoices.py
  api/entrypoints/contractor/bank_accounts.py
  api/entrypoints/contractor/invoices.py
  api/entrypoints/contractor/operations.py
  api/entrypoints/employer/bank_accounts.py
  api/entrypoints/employer/invoices.py
  api/entrypoints/employer/operations.py
  api/service_layer/handlers/contractor/bank_accounts.py
  api/service_layer/handlers/contractor/invoices.py
  api/service_layer/handlers/users.py
  api/service_layer/messagebus/messagebus.py
  api/service_layer/unit_of_work/db.py
  api/service_layer/unit_of_work/fake.py
  api/service_layer/unit_of_work/generic.py
Due: api-linters-fix, api-linters

Added invoices and bank accounts for contractor
  api/service_layer/handlers/contractor/invoices.py
Due: api-linters-fix, api-linters

Added invoices and bank accounts for contractor
  api/domain/commands/contractor/bank_accounts.py
  api/domain/commands/employer/bank_accounts.py
  api/domain/models/bank_accounts.py
  api/domain/models/operations.py
  api/domain/responses/bank_accounts.py
  api/domain/responses/invoices.py
  api/domain/responses/operations.py
  api/domain/types.py
  api/service_layer/handlers/contractor/bank_accounts.py
  api/service_layer/handlers/contractor/invoices.py
  api/service_layer/handlers/contractor/operations.py
Due: api-linters-fix, api-linters

Added invoices and bank accounts for contractor
  api/service_layer/messagebus/messagebus.py
Due: api-linters-fix, api-linters

Added invoices and bank accounts for contractor
  api/domain/commands/contractor/bank_accounts.py
  api/domain/types.py
Due: api-linters-fix, api-linters

Added invoices and bank accounts for contractor
  api/entrypoints/contractor/bank_accounts.py
  api/entrypoints/contractor/companies.py
  api/entrypoints/contractor/invoices.py
  api/entrypoints/contractor/operations.py
  api/entrypoints/employer/bank_accounts.py
  api/entrypoints/employer/invoices.py
  api/entrypoints/employer/operations.py
  api/tests/e2e/test_entrypoints_contractor_companies.py
Due: api-linters-fix, api-linters

Added invoices and bank accounts for contractor
  api/tests/e2e/test_entrypoints_contractor_companies.py
Due: api-linters-fix, api-linters

Added invoices and bank accounts for contractor
  api/tests/e2e/scenarios/contractor/__init__.py
  api/tests/e2e/scenarios/contractor/companies.py
Due: api-linters-fix, api-linters

Added invoices and bank accounts for contractor
  api/service_layer/handlers/contractor/companies.py
  api/tests/e2e/scenarios/contractor/companies.py
  api/tests/e2e/test_entrypoints_contractor_companies.py
Due: api-linters-fix, api-linters

Added orm
  README.md
  api/Makefile
  api/adapters/orm/migrations/models/0_20211229013552_init.sql
  api/adapters/orm/migrations/models/1_20211229013720_update.sql
  api/adapters/orm/migrations/models/2_20211229014424_update.sql
  api/adapters/orm/models/__init.__py
  api/adapters/orm/models/bank_accounts.py
  api/adapters/orm/models/companies.py
  api/adapters/orm/models/generic.py
  api/adapters/orm/models/invoices.py
  api/adapters/orm/models/operations.py
  api/adapters/orm/models/users.py
  api/domain/models/bank_accounts.py
  api/pyproject.toml
  api/requirements/base.txt
  api/settings.py
Due: api-linters-fix, api-linters

Added orm
  api/tmpl.env
Due: none

Added orm (#22)
  README.md
  api/Makefile
  api/adapters/orm/migrations/models/0_20211229013552_init.sql
  api/adapters/orm/migrations/models/1_20211229013720_update.sql
  api/adapters/orm/migrations/models/2_20211229014424_update.sql
  api/adapters/orm/models/__init.__py
  api/adapters/orm/models/bank_accounts.py
  api/adapters/orm/models/companies.py
  api/adapters/orm/models/generic.py
  api/adapters/orm/models/invoices.py
  api/adapters/orm/models/operations.py
  api/adapters/orm/models/users.py
  api/domain/models/bank_accounts.py
  api/pyproject.toml
  api/requirements/base.txt
  api/settings.py
  api/tmpl.env
Due: api-linters-fix, api-linters

Clean migrations
  api/adapters/orm/migrations/models/0_20211229013552_init.sql
  api/adapters/orm/migrations/models/1_20211229013720_update.sql
  api/adapters/orm/migrations/models/2_20211229014424_update.sql
Due: none

Draft: Added company endpoints for employer (#18)
  api/adapters/repositories/db/companies.py
  api/adapters/repositories/db/generic.py
  api/service_layer/handlers/employer/companies.py
  api/service_layer/messagebus/messagebus.py
Due: api-linters-fix, api-linters

Path conditions:
  api-linters-fix: any of: \.py$
  api-linters: any of: \.py$
  app-linters-fix: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  app-linters: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
